property=BAIA Lodge Resort
address=Sitio Panindigan, Barangay Poblacion, San Vicente, Palawan, PH
contact=baiapalawan@gmail.com
timezone=Asia/Manila
currency=PHP
rooms=4
room_types=BAIA Cottage (3), BAIA Suite (1)
check_in=14:00
check_out=12:00
pet_policy=no_pets
wifi=yes
breakfast=continental_english_asian
airport_shuttle=48h_notice_6000_PHP
brand_colors=#7D5E49 #31333B #EBC682
font=Cinzel
